
.footer-area {
    background: #333;
    padding: 20px 0;
    text-align: center;
    p {
        color: #fff;
        font-size: 25px;
        text-transform: capitalize;
      }
  }










  